# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env
.venv/
venv/
ENV/

# Data files
*.sqlite3
*.db
*.log

# OS
.DS_Store
Thumbs.db

# Data folders
/data/bronze
/data/silver
/data/gold

# Ignore all data except gold reporting
!/data/gold/reporting_final.csv
